@model Movie
@{
    ViewBag.Title = "Movie Create";
    ViewBag.Favicon = "create.svg";
}

<form class="content contentEdit" method="post" asp-action="Create">
    <h3>Create new Movie</h3>

    <div class="info">
        <div class="header-info header-info-edit">
            <div class="inputEdit">
                <p>Name: </p>
                <input class="form-control" type="text" asp-for="Name">
            </div>

            <div class="inputEdit">
                <p>Rating: </p>
                <input class="form-control" type="text" asp-for="Rating">
            </div>

            <div class="inputEdit">
                <p>Duration: </p>
                <input class="form-control" type="text" asp-for="Duration">
            </div>
        </div>

        <div class="body-info">
            <div class="inputs-info">
                <div class="inputEdit">
                    <p>Category: </p>
                    <input class="form-control" type="text" asp-for="Category">
                </div>

                <div class="inputEdit">
                    <p>Release Date: </p>
                    <input class="form-control" type="number" asp-for="ReleaseDate">
                </div>
            </div>

            <div class="inputEdit">
                <p>Sinopsis: </p>
                <input class="form-control" type="text" asp-for="Sinopsis">
            </div>
        </div>
    </div>

    <div class="inputEdit inputUrl">
        <p>Image Url: </p>
        <input class="form-control" type="text" asp-for="Image">
    </div>

    <button class="btn btn-warning">Create</button>
</form>