@model Movie
@{
    ViewBag.Title = "Movie Upload";
    ViewBag.Favicon = "create.svg";
}

<form class="content contentEdit" method="post" asp-action="Upload" enctype="multipart/form-data">
    <h3>Create new Movie</h3>
    <a class="btn btn-sm btn-success" asp-action="Create">Url</a>

    <div class="info">
        <div class="header-info header-info-edit">
            <div class="inputEdit">
                <p>Name: </p>
                <input class="form-control" type="text" asp-for="Name">
            </div>

            <div class="inputEdit">
                <p>Rating: </p>
                <input class="form-control" type="text" asp-for="Rating">
            </div>

            <div class="inputEdit">
                <p>Duration: </p>
                <input class="form-control" type="text" asp-for="Duration">
            </div>
        </div>

        <div class="body-info">
            <div class="inputs-info">
                <div class="inputEdit">
                    <p>Category: </p>
                    <input class="form-control" type="text" asp-for="Category">
                </div>

                <div class="inputEdit">
                    <p>Release Date: </p>
                    <input class="form-control" type="number" asp-for="ReleaseDate">
                </div>
            </div>

            <div class="inputEdit">
                <p>Sinopsis: </p>
                <input class="form-control" type="text" asp-for="Sinopsis">
            </div>
        </div>

        <div class="inputFiles">
            <div class="inputEdit">
                <label for="path">Path: </label>
                <select class="form-control" name="path">
                    <option value="0">Images</option>
                    <option value="1">Documents</option>
                    @* <option value="2">Downloads</option> *@
                </select>

            </div>
            
            <div class="inputEdit">
                <label for="image">Image:</label>
                <input class="form-control" type="file" name="file" >
            </div>
        </div>
    </div>


    <button class="btn btn-warning">Create</button>
</form>